<IfModule mod_rewrite.c>
    RewriteEngine On
    <IfModule mod_expires.c>
        ExpiresActive On
        # assets
            ExpiresByType text/css                      "access plus 1 week"
            ExpiresByType text/javascript               "access plus 1 week"
            ExpiresByType application/javascript        "access plus 1 week"
            ExpiresByType application/x-javascript      "access plus 1 week"

        # media
            AddType image/x-icon .ico
            ExpiresByType image/ico                     "access plus 1 week"
            ExpiresByType image/icon                    "access plus 1 week"
            ExpiresByType image/x-icon                  "access plus 1 week"
            ExpiresByType image/gif                     "access plus 1 week"
            ExpiresByType image/png                     "access plus 1 week"
            ExpiresByType image/jpg                     "access plus 1 week"
            ExpiresByType image/jpeg                    "access plus 1 week"
            ExpiresByType video/ogg                     "access plus 1 week"
            ExpiresByType audio/ogg                     "access plus 1 week"
            ExpiresByType video/mp4                     "access plus 1 week"
            ExpiresByType video/webm                    "access plus 1 week"

        # webfonts
            ExpiresByType font/truetype                 "access plus 1 week"
            ExpiresByType font/opentype                 "access plus 1 week"
            ExpiresByType application/x-font-woff       "access plus 1 week"
            ExpiresByType image/svg+xml                 "access plus 1 week"
            ExpiresByType application/vnd.ms-fontobject "access plus 1 week"

    </IfModule>

    <IfModule mod_headers.c>
        <FilesMatch "\.(css)$">
            Header set Cache-Control "max-age=604800, public"
        </FilesMatch>
        <FilesMatch "\.(js)$">
            Header set Cache-Control "max-age=604800, private"
        </FilesMatch>
        <FilesMatch "\.(ico|jpg|jpeg|png|gif|swf)$">
            Header set Cache-Control "max-age=604800, public"
        </FilesMatch>
        <FilesMatch ".(eot|ttf|otf|woff)">
            Header set Access-Control-Allow-Origin "*"
        </FilesMatch>
        Header unset ETag
    </IfModule>

    <ifModule mod_gzip.c>
        mod_gzip_on Yes
        mod_gzip_dechunk Yes
        mod_gzip_item_include file .(html?|txt|css|js|php|pl)$
        mod_gzip_item_include handler ^cgi-script$
        mod_gzip_item_include mime ^text/.*
        mod_gzip_item_include mime ^application/x-javascript.*
        mod_gzip_item_exclude mime ^image/.*
        mod_gzip_item_exclude rspheader ^Content-Encoding:.*gzip.*
    </ifModule>

    AddOutputFilterByType DEFLATE text/plain
    AddOutputFilterByType DEFLATE text/html
    AddOutputFilterByType DEFLATE text/xml
    AddOutputFilterByType DEFLATE text/css
    AddOutputFilterByType DEFLATE application/xml
    AddOutputFilterByType DEFLATE application/xhtml+xml
    AddOutputFilterByType DEFLATE application/rss+xml
    AddOutputFilterByType DEFLATE application/javascript
    AddOutputFilterByType DEFLATE application/x-javascript

    FileETag None

    # If the requested filename is an image, simply serve it.
    RewriteCond %{REQUEST_URI} ^.*\.(jpg|jpeg|png|js|css)$
    RewriteRule .? - [L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{SERVER_NAME} ^local
    RewriteRule ^(.*)$ app_dev.php [QSA,L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ app.php [QSA,L]

    ErrorDocument 410 /410.php
</IfModule>

<IfModule !mod_rewrite.c>
    <IfModule mod_alias.c>
        # When mod_rewrite is not available, we instruct a temporary redirect of
        # the start page to the front controller explicitly so that the website
        # and the generated links can still be used.
        RedirectMatch 302 ^/$ /app.php/
        # RedirectTemp cannot be used instead
    </IfModule>
</IfModule>
